{{/* AWeber signup form — ID 261204133, list awlist6943779 */}}
<form method="post" class="af-form-wrapper" accept-charset="UTF-8" action="https://www.aweber.com/scripts/addlead.pl">
  <div style="display: none;">
    <input type="hidden" name="meta_web_form_id" value="261204133" />
    <input type="hidden" name="meta_split_id" value="" />
    <input type="hidden" name="listname" value="awlist6943779" />
    <input type="hidden" name="redirect" value="https://www.aweber.com/thankyou-coi.htm?m=text" />
    <input type="hidden" name="meta_adtracking" value="My_Web_Form" />
    <input type="hidden" name="meta_message" value="1" />
    <input type="hidden" name="meta_required" value="email" />
    <input type="hidden" name="meta_tooltip" value="" />
  </div>
  <div id="af-form-261204133" class="af-form">
    <div id="af-body-261204133" class="af-body af-standards">
      <div class="af-element">
        <input class="text" id="awf_field-118577005" type="email" name="email" value=""
          placeholder="your@email.com" tabindex="500"
          onfocus="if(this.value==''){this.value='';}"
          onblur="if(this.value==''){this.value='';}"/>
      </div>
      <div class="af-element buttonContainer">
        <input name="submit" class="submit" type="submit" value="Subscribe" tabindex="501" />
      </div>
      <div class="af-element privacyPolicy">
        <p><a href="https://www.aweber.com/permission.htm" target="_blank" rel="nofollow">Privacy policy</a></p>
      </div>
    </div>
  </div>
  <div style="display: none;"><img src="https://forms.aweber.com/form/displays.htm?id=TGyMTAwsjMzM" alt="" /></div>
</form>
